<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forloop </title>
</head>
<body>
    <center>
        <h1>This if forloop Page</h1>
        <h1>my Name is </h1>
        {% for i in name %}
            <h1>{{i}}</h1>
        
        {% endfor %}

        <h1>My Hobbies are</h1>
        {% for j in Hobbies %}
            <h1>{{j}}</h1>
        
        {% endfor %}
    
        <h1><a href="{% url 'app:nestedif' %}">click here to go for Nestedif page</a></h1>
    </center>
</body>
</html>